* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: monospace;
  font-size: 2.5rem;
}

body {
  min-height: 100vh;
  background-color: black;
  color: whitesmoke;
  display: grid;
  place-content: center;
  padding: 1rem;
}
